<ion-view title="Home">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content padding="true" class="mainPage">
        <!-- <h1 class="mainHead">Welcome!</h1> -->
        <!-- <img src="img/app_animation.gif" width="100%" ng-if="!timer"> -->
        <div class="next">
            <img src="img/transnet.png" width="90%" class="homeImg">
            <p style="color: white;margin-top: -60px;margin-bottom: 160px;"></p>
            <a ui-sref="app.projects" class="mainLink"><i class="ion-plus"></i> Add New Report</a>
            <span ui-sref="app.tc" style="display: block;margin-top: 100px;color: #b0b0b0;">Terms And Conditions</span>
        </div>
        <!-- <p>Welcome to the ionic-http-auth home page!</p>
    <p>Select the menu icon at the top of the page and select the Customers link.</p>
    <p>You will then be prompted to login.  You can just tap the login button to be logged in.</p>
    <p>You will then see the customers displayed.</p> -->
    </ion-content>
</ion-view>
